a{
	color:#eb136d;
	text-decoration: none;
}

nav a, footer div a{
	margin:100px 5px;
}

footer{
	margin-top:40px;
	text-align: center;
}

body{
	font-family: Arial;
	margin: auto;
	padding:18px;
	max-width: 600px;
	font-size:18px;
	text-align: left;
	background-color:white;
	position: relative;
	background-image: url('./background.png');
  	background-repeat: no-repeat;
 	background-attachment: relative;
 	background-position: right;
}

div.relative{
	position: relative;
	left 60;
}

img, video{
	max-width: 600px;
	border: 2px solid #eba613;
}
