	<link rel="stylesheet" href="https://fonts.google.com/specimen/Abril+Fatface">

a{
	color:#eb136d;
	text-decoration: none;
}

nav a, footer div a{
	margin:100px 5px;
}

footer{
	margin-top:40px;
	text-align: center;
}

body{
	font-family: Arial;
	color: #fff;
	margin: auto;
	padding:18px;
	max-width: 600px;
	font-size:40px;
	text-align: left;
	background-color:white;
	position: relative;
	border: #CDD7E6;
	border-width: thin;
	background-image: url('./background.jpg');
  	background-repeat: center;
 	background-attachment: relative;
 	background-position: cover;
}

h1{
	font-family: "Abril Fatface";
	color: #fff;
	font-size: 80px;
}

h2{
	font-family: "Abril Fatface";
	color: #fff;
	font-size: 40px;
}

h3{
	font-family: "arial";
	color: #fff;
	font-size: 16px;
}

div.relative{
	position: relative;
	left 60;
}

img, video{
	max-width: 600px;
	border: 2px solid #eba613;
}
